.recap {
  width: 100%;
  height: auto;
  max-width: 600px;
  z-index: 0;
  pointer-events: none;
}

body {
  background-color: #000000; 
  color: white;
}

.card-overlay {
  background-color: rgba(0, 0, 0, 0.75);
  transition: background-color 0.3s ease;
}

.card-overlay:hover {
  background-color: rgba(0, 0, 0, 0.3);
}

#partners {
  transition: background-size 0.3s ease;
}

@media screen and (max-width: 768px) {
 #partners {
  min-height: 500px;
  background-size: 100% auto !important;
 }
}

@media screen and (max-width: 480px) {
 #partners {
  min-height: 300px;
  background-position: center center !important;
 }
}

